<div class="header-wrapper">
    <header class="header">
        <img src="../images/GymIcon.png" alt="GymIcon" class="logo">
        <h1 class="title">Welcome to Gym Finder</h1>
        <button class="hamburger-btn" aria-label="Menu">
            <span class="hamburger-icon">☰</span>
        </button>
    </header>

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="../views/gyms.html" class="nav-link">Gyms</a></li>
            <li class="nav-item"><a href="../index.html" class="nav-link">Contact</a></li>
        </ul>
    </nav>
</div>